// A inverted box style.

.inverted-box,
%inverted-box {
  @include padding(.5);
  background: var(--color-brand);
  color: var(--color-text-bg);
  border-radius: $m-radius;

  :link,
  :visited {
    color: var(--color-text-bg);
  }

  p,
  ul,
  ol {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
