// sass-lint:disable all

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: .438em .625em;
  line-height: 1.125em;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
  border-radius: 4px;
  background-color: color(nearblack);
}

.slicknav_menu {
  box-sizing: border-box;
  background-color: color(header-bg);
  padding: 2px;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: color(text-bg);
  font-weight: bold;
  text-shadow: 0 1px 3px color(text);
}

.slicknav_icon {
  float: left;
  width: 1.125em;
  height: .875em;
  margin: .188em 0 0 .438em;
}

.slicknav_no-text {
  margin: 0;
}

.slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 3px;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  background-color: color(text-bg);

  & + .slicknav_icon-bar {
    margin-top: .188em;
  }
}

.slicknav_nav {
  background-color: color(body-bg);
  color: color(link);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;

  ul {
    display: block;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
  }

  li {
    display: block;
  }

  a {
    display: block;
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: color(link);

    &:hover {
      border-radius: 6px;
      background-color: color(nearblack);
      color: color(text-bg);
    }
  }
}

.slicknav_row {
  display: block;
  padding: 5px 10px;
  margin: 2px 5px;

  &:hover {
    border-radius: 6px;
    background-color: color(nearblack);
    color: color(text-bg);
  }
}

.slicknav_arrow {
  margin: 0 0 0 .4em;
}

.slicknav_txtnode {
  margin-left: 15px;
}

.slicknav_item {
  cursor: pointer;

  a {
    display: inline;
    padding: 0;
    margin: 0;
  }
}

.slicknav_parent-link a {
  display: inline;
  padding: 0;
  margin: 0;
}

.slicknav_brand {
  float: left;
  color: color(text-bg);
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
