/**
 * @file
 * Zen custom styles
 */

/* Zen overrides */

p,
pre {
  // Set 1 unit of vertical rhythm on the top and bottom margin.
  @include margin(.75 0);
}

/* Apply smaller text to blocks, footer etc. */

th,
label,
legend,
figcaption {
  @include type-layout(s, 1);

  @include respond-to(xxl) {
    @include type-layout(s-2, 1);
  }
}

article > header,
.footer {
  @include type-layout(xs, 1);

  @include respond-to(xxl) {
    @include type-layout(xs-2, 1);
  }
}

/* Apply heading font stack to heading, labels etc. */

h1,
h2,
h3,
th,
nav,
label,
legend,
article > header,
.header,
.footer {
  @include typeface(headings);
  color: color(headings);
  font-weight: normal;
}

article > .content,
aside {
  ul {
    @extend %ul-straight-left;
  }

  ol {
    @extend %ol-straight-left;
  }
}

article {

  & > header {
    color: color('grey');


    p {
      @include margin(.2 0);
    }

  }

  .submitted,
  .tags {
    @include respond-to(l) {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  .tags {
    ul {
      margin: 0;
      padding: 0;
    }

    ul,
    li {
      display: inline;
    }

    li {
      list-style-type: none;
    }

    a {
      @include padding-right(.2);
    }
  }

  code {
    @include type-layout(s, 1);
    word-wrap: break-word;
  }

  pre {
    color: color(headings);
    border-radius: 3px;
    padding: 5px;
    border: 1px solid color(border);
    background-color: color(text-bg);
    overflow: auto;
    max-height: 250px;
    max-width: 550px;

    & > code {
      display: inline-block;
      white-space: pre;
    }
  }

}

.title-submitted {
  margin-bottom: 0;
}

figure {
  @include respond-to(s) {
    display: table;

    img {
      display: block;
    }

    &.left {
      @include padding(0 .5 .5 0);
      margin: 0;
      float: left;
      clear: both;

      figcaption {
        @include padding(0 .5 .5 0);
      }
    }

    &.right {
      @include padding(0 0 .5 .5);
      margin: 0;
      float: right;
      clear: both;

      figcaption {
        @include padding(0 0 .5 .5);
      }
    }
  }
}

figcaption {
  @include respond-to(s) {
    display: table-caption;
    caption-side: bottom;
  }

  h4,
  p {
    margin: 0;
  }
}

/* Page */

body {
  background-color: color(backdrop);
}

.page {
  background-color: color(body-bg);
}

.header {
  padding-top: $zen-gutters;
}

/* Navigation */

.main-menu {
  @include margin-top(.5);
  @include margin-bottom(.5);
  outline: 0;

  li {
    @include margin-right(.5);
    @include margin-bottom(.5);
    padding: 0;
  }

  a {
    display: block;
    background-color: color(brand);
    color: color(text-bg);
    padding: 2px 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: color(brand-dark);
    }

    &:active,
    &.active {
      background-color: color(brand);
      text-decoration: underline;
    }
  }
}

.menu a.active {
  text-decoration: none;
}

.footer {
  @include margin-top(1.5);
  @include padding(.5 0);
  text-align: center;
  border-top: 2px solid color(brand);

  p {
    margin: 0;
  }
}

/* Messages */

.message {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  width: 95%;

  &.status {
    background-color: color(status-bg);
    color: color(status);
    border-color: color(status);
  }

  &.warning {
    background-color: color(warning-bg);
    color: color(warning);
    border-color: color(warning);
  }

  &.error {
    background-color: color(error-bg);
    color: color(error);
    border-color: color(error);
  }
}

/* Search */

.search-form {
  @include padding-top(.5);
}

.search-text {
  @include type-layout(l, 1);
}

/* Form */

.content {
  input,
  textarea {
    @include margin-bottom(.75);
    width: 95%;

    &:required+span::after {
      content: ' *';
      color: color('red');
      vertical-align: top;
    }

    &:not(:placeholder-shown):valid {
      background-color: color(status-bg);
    }

    &:not(:placeholder-shown):invalid {
      background-color: color(error-bg);
    }
  }

  button {
    display: block;
  }
}

.js-submitted {
  input,
  textarea {
    &:valid {
      background-color: color(status-bg);
    }

    &:invalid {
      background-color: color(error-bg);
    }
  }
}





.js-nav-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.js-nav-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(color(text), .2);
  opacity: 0;

  .js-nav-open & {
    opacity: 1;
    pointer-events: auto;
  }
}

.js-nav-toggle {
  @include typeface(headings);
  display: block;
  position: absolute;
  top: $zen-gutters / 2;
  right: $zen-gutters + $zen-gutters / 2 + $zen-gutters / 4;
  z-index: 12;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  pointer-events: auto;

  .js-nav-open & {
    color: color(text-bg);
  }

  &::after {
    position: absolute;
    content: '';
    margin-left: $zen-gutters / 4;
    width: $zen-gutters;
    height: 4px;
    border-top: 12px double color(text);
    border-bottom: 4px solid color(text);
  }

  .js-nav-open &::after {
    border-color: color(text-bg);
  }
}

.js-nav-sheet {
  position: relative;
  background-color: color(header-bg);
  width: 90vw;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100vw);
  z-index: 11;

  .js-nav-open & {
    pointer-events: auto;
    box-shadow: -10px 0 10px -10px color('nearblack');
    transform: translateX(10vw);
  }

  .js-navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin: .4rem 0;

      a {
        color: color(white);
        text-decoration: none;
      }
    }
  }
}

.js-nav-cover,
.js-nav-toggle,
.js-nav-toggle::after,
.js-nav-sheet {
  transition: all 130ms ease-in;

  .js-nav-open & {
    transition: all 330ms ease-out;
  }
}
