// @file
// The print stylesheet for this theme.

// Components
@import 'components/print-none/print-none';

.skip-link,
%skip-link,
.breadcrumb,
%breadcrumb,
.pager,
%pager,
aside,
nav,
footer {
  @extend %print-none;
}

@media print {
  body,
  .page {
    background-color: color(white);
  }

  [role='main'] {
    width: 100%;
  }

  :link,
  :visited {
    text-decoration: underline;
  }
}
