// stylelint-disable scss/dollar-variable-colon-space-after, scss/dollar-variable-empty-line-before

:root {
  // Base colours.
  --color-black:                  oklch(0% 0 0);
  --color-nearblack:              oklch(32% 0 0);
  --color-grey-dark:              oklch(51% 0 0);
  --color-grey:                   oklch(68% 0 0);
  --color-grey-light:             oklch(84% 0 0);
  --color-grey-extra-light:       oklch(95% 0 0);
  --color-nearwhite:              oklch(98% 0 0);
  --color-white:                  oklch(100% 0 0);
  --color-red:                    oklch(53% 0.3 29);
  --color-yellow:                 oklch(90% 0.3 99);
  --color-green:                  oklch(64% 0.3 138);
  --color-blue:                   oklch(54% 0.3 247);

  // Transparent colours.
  --color-black-60:               oklch(0% 0 0 / 0.6);
  --color-black-40:               oklch(0% 0 0 / 0.4);
  --color-black-20:               oklch(0% 0 0 / 0.2);
  --color-black-10:               oklch(0% 0 0 / 0.1);
  --color-white-20:               oklch(100% 0 0 / 0.2);
  --color-white-10:               oklch(100% 0 0 / 0.1);

  // Brand colours.
  --color-brand:                  var(--color-nearblack);
  --color-brand-alt:              var(--color-grey);
  --color-brand-light:            var(--color-grey-light);
  --color-brand-dark:             var(--color-grey-dark);

  // Text colours.
  --color-text:                   var(--color-black);
  --color-text-bg:                var(--color-white);
  --color-text-meta:              var(--color-grey-dark);
  --color-headings:               var(--color-nearblack);
  --color-code:                   var(--color-nearblack);

  // Link colours.
  --color-link:                   var(--color-brand);
  --color-link-visited:           var(--color-brand);
  --color-link-hover:             var(--color-brand-alt);
  --color-link-active:            var(--color-red);
  --color-link-inverted:          var(--color-white);
  --color-link-visited-inverted:  var(--color-white);
  --color-link-hover-inverted:    var(--color-white);
  --color-link-active-inverted:   var(--color-red);

  // Border colours.
  --color-border:                 var(--color-brand);
  --color-border-light:           var(--color-brand-light);
  --color-border-dark:            var(--color-brand-dark);

  // Background colours.
  --color-header-bg:              var(--color-white);
  --color-body-bg:                var(--color-white);
  --color-footer-bg:              var(--color-white);
  --color-backdrop:               var(--color-grey-extra-light);

  // Mobil menu colours.
  --color-mobile-menu:            var(--color-brand);
  --color-mobile-menu-cover:      var(--color-black-20);

  // Button colours.
  --color-button:                 var(--color-brand);
  --color-button-hover:           var(--color-brand-dark);
  --color-button-text:            var(--color-white);
  --color-button-text-hover:      var(--color-white);
  --color-button-disabled:        var(--color-grey);

  // Row (e.g. in table) colours.
  --color-row-header:             transparent;
  --color-row-odd:                var(--color-nearwhite);
  --color-row-even:               transparent;

  // Status colours.
  --color-info:                   var(--color-blue);
  --color-info-bg:                oklch(from var(--color-blue) 100% 0.01 h);
  --color-status:                 var(--color-green);
  --color-status-bg:              oklch(from var(--color-green) 100% 0.05 h);
  --color-warning:                var(--color-black);
  --color-warning-bg:             oklch(from var(--color-yellow) 100% 0.05 h);
  --color-warning-border:         var(--color-yellow);
  --color-error:                  var(--color-red);
  --color-error-bg:               oklch(from var(--color-red) 100% 0.05 h);

  // Highlight colours.
  --color-highlight:              var(--color-brand-alt);
  --color-mark-highlight:         var(--color-red);
  --color-mark-bg:                var(--color-yellow);

  // Misc colours.
  --color-watermark:              var(--color-grey-extra-light);
  --color-debug-color:            var(--color-grey-extra-light);
}
