// Initialization partial

// To make it easier to use all variables and mixins in any Sass file in this
// project, each .scss file has a `@import 'init';` declaration. The _init.scss
// file is in charge of importing all the other partials needed for the
// project.

// Colours and variables.
@import 'colors';
@import 'variables';
@import 'extra';

// Mixins and functions.
@import 'mixins/breakpoint/respond-to';
@import 'mixins/clearfix/clearfix';
@import 'mixins/debug/debug';
@import 'mixins/flex-calc/flex-calc';
@import 'mixins/rtl/rtl';
@import 'mixins/spacing/spacing';
