
// The print stylesheet for this theme.

@use 'variables';

.pager,
%pager,
.mobile-nav,
aside,
nav,
footer {
  display: none;
}

@media print {
  html {
    font-size: variables.$print-font-size;
  }

  html,
  body,
  .page {
    background-color: white;
    border-color: black;
    box-shadow: none;
    color: black;
  }

  .main {
    width: 100%;
  }

  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible title after abbreviations.
  abbr[title] {
    &::after {
      content: ' (' attr(title) ')';
    }
  }
}
