// stylelint-disable property-no-vendor-prefix

// Document

html {
  // Change the default font family in all browsers (opinionated).
  @include typeface(body);
  // Set base font size in percent.
  font-size: $base-font-size / $browser-font-size * 100%;
  // Correct the line height in all browsers.
  line-height: 1.5;
  // Prevent adjustments of font size.
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  // On short pages, we want any background gradients to fill the entire height
  // of the browser.
  min-height: 100%;
  // Use the saner border-box model.
  box-sizing: border-box;
  // Use smooth scrolling.
  scroll-behavior: smooth;
  // Improve text rendering.
  -webkit-font-smoothing: antialiased;
}

// Use the saner border-box model for all elements.
*,
*::before,
*::after {
  box-sizing: inherit;
}
