<div class="layout-swap">
  <div>This element comes <strong>first</strong> in the HTML source order.</div>
  <div class="layout-swap__top">This element comes <strong>second</strong> in the HTML source order.</div>
</div>
