// Language selector

.language-selector {
  display: flex;
}

.language-icon {
  @include margin-right(.5);
  fill: var(--color-text);

  @include rtl() {
    @include margin-left(.5);
    margin-right: 0;
  }
}
