{{ define "meta" }}
{{- partial "section_meta.html" . -}}
{{ end }}

{{ define "main" -}}
<main class="{{ if $.Param "sidebar" | default true }}layout-3col__left-content{{ else }}layout-3col__full{{ end }}" role="main">
<h1 class="title">{{ .Title }}</h1>
{{ $paginator := .Paginate (.Data.Pages) -}}
{{ range $paginator.Pages -}}
{{ .Render "summary"}}
{{ end -}}

{{ partial "pagination.html" . }}
</main>

{{ partial "menu.html" . -}}
{{ if $.Param "sidebar" | default true }}{{ partial "sidebar.html" . -}}{{ end }}
{{ end }}
