.htmx-indicator {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--color-accent), transparent, var(--color-accent), transparent);
  opacity: 0;
  visibility: hidden;

  &.htmx-request {
    opacity: 1;
    visibility: visible;
    animation: --fade-in 2s linear forwards, --slide 1.2s ease-in-out infinite;
  }
}

@keyframes --slide {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX( 100%); }
}

@keyframes --fadein {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
