.flex-inline,
%flex-inline {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 0;
  text-align: left;

  @include rtl() {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__item,
  li {
    list-style: none;
  }
}
