<p class="error message js-hidden">{{ i18n "js_required" }}</p>
<p class="success message hidden" data-contact-submitted>{{ i18n "contact_submitted" }}</p>
<p class="error message hidden" data-contact-error>{{ i18n "contact_error" }}</p>

<form class="contact-form hidden" data-protect="/php/contact.php" action="#" method="post" accept-charset="UTF-8">
  <label for="edit-name">{{ i18n "contact_name" }}</label>
  <input type="text" id="edit-name" name="name" placeholder="{{ i18n "contact_name_placeholder" }}" required autofocus>
  <label for="edit-mail">{{ i18n "contact_mail" }}</label>
  <input type="email" id="edit-mail" name="email" placeholder="{{ i18n "contact_mail_placeholder" }}" required>
  <input type="text" id="edit-url" class="hidden" name="url" placeholder="{{ i18n "contact_honeypot" }}">
  <label for="edit-subject">{{ i18n "contact_subject" }}</label>
  <input type="text" id="edit-subject" name="subject" placeholder="{{ i18n "contact_subject_placeholder" }}" required>
  <label for="edit-message">{{ i18n "contact_message" }}</label>
  <textarea id="edit-message" name="message" rows="5" placeholder="{{ i18n "contact_message_placeholder" }}" required></textarea>
  <button type="submit" name="submit" disabled>{{ i18n "contact_submit" }}</button>
</form>
