<div class="mobile-nav" dir="ltr">
  <div class="mobile-nav__cover"></div>
  <a href="#navigation" class="mobile-nav__toggle" aria-haspopup="true" role="button">{{ i18n "menu_mobile" }}</a>
  <div class="mobile-nav__sheet">
    <div class="mobile-nav__region">
    {{ if .Site.IsMultiLingual }}{{ partial "language-selector.html" . }}{{ end }}
    </div>
    <nav class="mobile-nav__main-menu">
    <h2 class="visually-hidden">{{ i18n "menu_title" }}</h2>
    <ul class="mobile-nav__navbar">
    {{ if .Site.Menus.main -}}

    {{ $currentPage := . -}}
    {{ range .Site.Menus.main -}}
    <li><a href="{{ .URL | relLangURL }}"{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} class="active" aria-current="page"{{ end }}>{{ .Name }}</a></li>
    {{ end -}}

    {{ else -}}

    {{ $currentSection := .Section -}}
    {{ $currentID := "" -}}
    {{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
    {{ with .Site.Home }}<li><a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ i18n "menu_home" }}</a></li>{{ end }}
    {{ range where .Site.RegularPages "Section" "" -}}
    <li><a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
    {{ end -}}
    {{ range .Site.Sections -}}
    <li><a href="{{ .RelPermalink }}"{{ if eq $currentSection .Section }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
    {{ end -}}

    {{ end -}}
    </ul>
    </nav>
  </div>
</div>
