{{ $currentSection := .Section -}}
{{ $currentID := "" -}}
{{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
<div class="mobile-nav" dir="ltr">
  <div class="mobile-nav__cover"></div>
  <a href="#navigation" class="mobile-nav__toggle" aria-haspopup="true" role="button">{{ i18n "menu_mobile" }}</a>
  <div class="mobile-nav__sheet">
    <div class="mobile-nav__region">
    {{ if .Site.IsMultiLingual }}{{ partial "language-selector.html" . }}{{ end }}
    {{ if $.Param "search" }}{{ partialCached "search.html" . }}{{ end }}
    </div>
    <nav class="mobile-nav__main-menu">
    <h2 class="visually-hidden">{{ i18n "menu_title" }}</h2>
    <ul class="mobile-nav__navbar">
    {{ with .Site.Home }}<li><a class="{{ if eq $currentID .File.UniqueID }}active{{ end }}" href="{{ .RelPermalink }}">{{ i18n "menu_home" }}</a></li>{{ end }}
    {{ range where .Site.RegularPages "Section" "" -}}
    <li><a class="{{ if eq $currentID .File.UniqueID }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end -}}
    {{ range .Site.Sections -}}
    <li><a class="{{ if eq $currentSection .Section }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end -}}
    </ul>
    </nav>
  </div>
</div>
