<div class="mobile-nav" dir="ltr">
  <div class="mobile-nav__cover"></div>
  <button class="mobile-nav__toggle" aria-expanded="false" aria-controls="sheet">
    {{ i18n "menu_mobile" }}
    <svg class="mobile-nav__hamburger" viewBox="0 0 100 100" focusable="false" aria-hidden="true">
      <rect width="80" height="12" x="10" y="20" rx="5"></rect>
      <rect width="80" height="12" x="10" y="45" rx="5"></rect>
      <rect width="80" height="12" x="10" y="70" rx="5"></rect>
    </svg>
  </button>
  <div class="mobile-nav__sheet" id="sheet" aria-hidden="true">
    <div class="mobile-nav__region">{{ if site.IsMultiLingual }}{{ partial "language-selector.html" . }}{{ end }}</div>
    <nav class="mobile-nav__main-menu" aria-label="{{ i18n "menu_title" }}">
    <ul class="mobile-nav__navbar">
    {{ if site.Menus.main -}}

    {{ $currentPage := . -}}
    {{ range site.Menus.main -}}
    <li><a href="{{ .URL | relLangURL }}"{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} class="active" aria-current="page"{{ end }}>{{ .Name }}</a></li>
    {{ end -}}

    {{ else -}}

    {{ $currentSection := .Section -}}
    {{ $currentID := "" -}}
    {{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
    {{ with site.Home }}<li><a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ i18n "menu_home" }}</a></li>{{ end }}
    {{ range where site.RegularPages "Section" "" -}}
    <li><a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
    {{ end -}}
    {{ range site.Sections -}}
    <li><a href="{{ .RelPermalink }}"{{ if eq $currentSection .Section }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
    {{ end -}}

    {{ end -}}
    </ul>
    </nav>
  </div>
</div>
