<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url" : "{{ .Permalink }}",
    "name": {{ .Title | jsonify }},
    {{ with $.Param "description" -}}
    "description": {{ . | jsonify }},
    {{ end -}}
    {{ with $.Param "image" -}}
    "image" : "{{ . | absURL }}",
    {{ end -}}
    {{ with $.Param "author" -}}
    "author": {
      "@type": "Person",
      "name": {{ . | jsonify }}
    },
    {{ end -}}
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Site.BaseURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Title | jsonify }},
      "url": "{{ .Site.BaseURL }}",
    }
</script>
