<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},
    "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }},
    "url" : {{ .Permalink }},
    "description": {{ with (.Description | default (replaceRE "\n" " " .Summary)) }}"{{ . }}"{{ end }},
    {{ with $.Param "image" -}}
    "image" : {{ . | absURL }},
    {{ end -}}
    {{ with .Params.tags -}}
    "keywords": {{ . }},
    {{ end -}}
    {{ with $.Param "author" -}}
    "author": {
      "@type": "Person",
      "name": "{{ . }}"
    },
    {{ end -}}
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Site.BaseURL }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title  }}",
      "url": {{ .Site.BaseURL }}
    }
  }
</script>
