// Dependencies.
@import 'components/visually-hidden/visually-hidden';

// Navbar
//
// A simple method to get navigation links to appear in one line.
//
// Markup: navbar.twig
//
// Style guide: navigation.navbar

.navbar,
%navbar {
  margin: 0;
  padding: 0;
  text-align: left;

  @include rtl() {
    text-align: right;
  }

  &__item,
  li {
    float: left;
    padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none;

    @include rtl() {
      float: right;
      padding: 0 0 0 10px;
    }
  }
}
