@use "../../mixins/flex-calc/flex-calc";
@use "../../mixins/spacing/spacing";

.flex-group,
%flex-group {
  $gap: 1;

  @include spacing.gap($gap);
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 0;
  }

  &--grow {
    flex-grow: 1;
  }

  @media (min-width: 666px) {
    &--2 > * {
      @include flex-calc.flex(2, $gap);
    }

    &--3 > * {
      @include flex-calc.flex(3, $gap);
    }

    &--4 > * {
      @include flex-calc.flex(4, $gap);
    }

    &--5 > * {
      @include flex-calc.flex(5, $gap);
    }

    &--6 > * {
      @include flex-calc.flex(6, $gap);
    }
  }
}
