<p class="error message js-hidden">{{ i18n "js_required" }}</p>
<p class="info message hidden" data-search-loading>{{ i18n "search_loading" }}</p>

<div data-search-input class="hidden">
  <form data-search-form id="search-form" action="#" method="post" accept-charset="UTF-8" role="search">
    <label for="query" class="visually-hidden">{{ i18n "search_title" }}</label>
    <input data-search-text type="search" id="query" name="query" placeholder="{{ i18n "search_placeholder" }}" maxlength="128">
  </form>
</div>

<div data-search-results></div>

<template>
  <article data-search-result class="list-view">
    <header>
      <h2 class="title mt--s mb--xxs"><a href="#">Title here</a></h2>
      <div class="submitted"><time class="created-date">Date here</time></div>
    </header>
    <p class="content">Summary here</p>
  </article>
</template>
